@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("themes.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, var(--bg-color-m10), var(--bg-color-20));
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  gap: 0.5rem;
  --surface-color-l: var(--color-l-surface);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem 2rem;
  --surface-color-l: var(--color-l-primary);
  --switch: calc((var(--color-l-primary) - var(--threshold)) * -100);
  color: hsl(0, 0%, var(--switch));
  background-color: var(--color-primary);
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer {
  --surface-color-l: var(--color-l-primary);
  --switch: calc((var(--color-l-primary) - var(--threshold)) * -100);
  color: hsl(0, 0%, var(--switch));
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  font-size: 1.5rem;
  padding: 0.5em;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  padding: 1rem 2rem;
}
.responsive-color {
  --threshold: 60%;
  --switch: calc((var(--surface-color-l) - var(--threshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.intro {
  display: flex;
  align-items: center;
  height: 4vh;
}
.intro img {
  height: 100%;
  margin-right: 1rem;
}
.main-title {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.5rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 2rem 0;
}
.category {
  padding: 1rem 0;
}
.category h3 {
  padding: 1rem 0;
}
@media (max-width: 600px) {
  header {
    padding: 1rem;
  }
  .main-title {
    font-size: 1.5rem;
  }
  .section-title {
    font-size: 1.4rem;
  }
}
