.btn {
    --hue: 0;
    --sat: 0%;
    --initial-light: 90%;
    --light: var(--initial-light);
    --border-light: calc(var(--initial-light) - 20%);
    --threshold: 60%;
    --switch: calc((var(--light) - var(--threshold)) * -100);
    outline: none;
    background-color: hsl(var(--hue), var(--sat), var(--light));
    border: 1px solid hsl(var(--hue), var(--sat), var(--border-light));
    padding: 0.5em 1em;
    cursor: pointer;
    text-align: center;
    border-radius: 0.3em;
    font: inherit;
    color: hsl(0, 0%, var(--switch));
}

.btn:hover,
.btn:focus {
    --light: calc(var(--initial-light) + 10%);
    box-shadow: 0 0 5px 0 hsl(var(--hue), var(--sat), var(--border-light));
}

.btn.btn-primary {
    --hue: 165;
    --sat: 38%;
    --initial-light: 50%;
}