.cards {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 20rem;
  border: 1px solid #585858;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  transform-style: preserve-3d;
}
.card:hover {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba (0, 0, 0, 0.2);
}
.card .title {
  padding: 1rem 0;
  transition: transform 0.75s ease-out;
}
.card .sub-title {
  padding: 0.5rem 0;
  transition: transform 0.75s ease-out;
}
.card .description {
  text-align: justify;
  color: #585858;
  transition: transform 0.75s ease-out;
}
.card .image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: coral;
  border-radius: 50%;
  transition: transform 0.75s ease-out;
  height: 10rem;
  width: 10rem;
  align-self: center;
}
.image-smith {
  background-image: url("images/agent_smith.jpg");
}
.image-neo {
  background-image: url("images/neo.jpg");
}
body {
  perspective: 500px;
}
.anim-container {
  display: flex;
  padding: 0.5rem;
}

@media (max-width: 813px) {
  .cards {
    flex-direction: column;
  }
}
